@import "/src/assets/scss/config.scss";

nav {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
}
