@import "/src/assets/scss/config.scss";

nav {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
  img {
    width: 100px;
    height: 100px;
    @media (max-width: 768px) {
      width: 65px;
      height: 65px;
    }
  }
}
