#game-container {
  height: calc(100vh - 140px);
  overflow: scroll;
  position: relative;
  @media (min-width: 768px) and (max-width: 1200px) {
    height: calc(100vh - 115px);
  }
  @media (max-width: 768px) {
    height: calc(100vh - 90px);
  }
  > .row {
    height: inherit;
  }
}
