#playground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .playground-row {
    display: flex;
    flex-direction: row;
    .playground-cel {
      text-align: center;
      border: 1px solid #dadada;
      height: 120px;
      width: 120px;
      transition: all 300ms;
      &:hover {
        cursor: pointer;
        background-color: rgb(190, 190, 190);
      }
      @media (max-width: 768px) {
        height: 80px;
        width: 80px;
      }
    }
  }
}
